In [1]:
!pip install afinn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting afinn
  Downloading afinn-0.1.tar.gz (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.6/52.6 kB 6.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: afinn
  Building wheel for afinn (setup.py) ... done
  Created wheel for afinn: filename=afinn-0.1-py3-none-any.whl size=53430 sha256=f93f2273410efe4605d89c4d647a549ae2a7c4c39019122eb180aa7d3c143620
  Stored in directory: /root/.cache/pip/wheels/b0/05/90/43f79196199a138fb486902fceca30a2d1b5228e6d2db8eb90
Successfully built afinn
Installing collected packages: afinn
Successfully installed afinn-0.1

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
import numpy as np

In [9]:
import pandas as pd

train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/hanjung_final.csv")
print(train.shape)
train.head()

(136, 6)

,Unnamed: 0.1,Unnamed: 0,0,1,2,senti
0,0,0,대전에 새로 이사 와서 찾은 집 근처 맛집!!! 첫번째!!! 마라탕과 꿔바로우 현...,A restaurant near my new house in Daejeon!!! F...,6.0,pos
1,1,1,맛있긴합니다만ㅠㅠ야채선택해서(숙주),It's deliciousI'll pick the host. (host),0.0,neutral
2,2,2,정말 맛있습니다^^~,It's really good^^~,3.0,pos
3,3,3,친구랑 갔는데 가성비 좋고 깨끗하고 좋았어요 친구는 맛있었다고 했지만 제 취향은 아...,I went with my friend and it was good and clea...,12.0,pos
4,4,4,양고기추가에 기름기가 없고 너무 좋아요,It's really good because it's not greasy,3.0,pos

In [22]:
h1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/hoho_final.csv")
h2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/hoho_Kakao_final.csv")
h3 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/hoho_Mango_final.csv")
# h4 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/capstone/panda/Panda_300_to_400.csv")
# h5 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/capstone/panda/Panda_400_to_end.csv")
# h5 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_400_to_500.csv")
# h6 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_500_to_600.csv")
# h7 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_600_to_700.csv")
# h8 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_700_to_800.csv")
# h9 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_800_to_900.csv")
# h10 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_900_to_1000.csv")
# h11 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_1000_to_1100.csv")
# h12 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_1100_to_1200.csv")
# h13 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_1200_to_1300.csv")
# h14 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_1300_to_1400.csv")
# h15 = pd.read_csv("/content/drive/MyDrive/캡스톤/hoho_1400_to_end.csv")

In [15]:
h1

,Unnamed: 0,0,1,2
0,0,메뉴가 상당히많아요다른 손님은 뭐먹나봤더니 다들 메뉴가 다양했어요저희는 평일 늦은시...,"It's a little small, but it's delicious.But I ...",6.0
1,1,.,"I went at 5 o'clock on weekdays, but fortunate...",0.0
2,2,드디어 호호식당에 입성했네요. 줄이 너무 길어서 그냥 지나쳤었는데..^^ 역시 평일...,The wait is really long. It tastes good. Quali...,2.0
3,3,혜화에 갈 때마다 웨이팅이 있어 늘 궁금했던 곳이다.하지만 웨이팅을 싫어하기에 쉽게...,"It's pretty, but it tastes good, and the atmos...",12.0
4,4,히레카츠랑 사케동을 시켰다. 맛은 평범했고 특유의 가게 인테리어와 디자인은 상당히 ...,The price is a little high and the waiting is ...,5.0
5,5,맛있다를 할까 괜찮다를 할까 고민하다가 괜찮다로 결정맛은 있으나 웨이팅과 가격을 생...,It's so good. The waiting is so good. I think ...,3.0
6,6,호호식당 본점인 대학로점은 한옥을 개조한 곳이어서 좋았어요. 호호식당에서 판매하는 ...,"After eating, I laughed out loud LOL The atmos...",9.0
7,7,"최애메뉴는 사케도로동, 차애는 명란오일파스타랑 스키야키.항상 줄이 길다는 것이 흠이...","I got a 0총 rating, but it seems like you hav...",6.0
8,8,카이센동 먹으러 갔는데 재료소진 ㅠㅠㅠ하지만 메뉴 둘 다 짱 맛있게 잘 먹고 왔습니...,The salmon is really thick! The rice is soft a...,2.0
9,9,가츠나베정식. 스키야키정식. 애플진저에일. 한옥을 개조해서 만든 일식집. 마당에는 ...,The atmosphere is better than the food. I orde...,22.0
10,10,"역시 여기는 평일 점심에 와야해요... 웨이팅 없이 바로 들어갔는데, 마침 예약룸도...",NaN,15.0
11,11,친한 친구의 생일이라서 미리 룸을 예약하고 갔던 호호식당 예약 하지않고 주말에 방문...,NaN,17.0
12,12,그냥 무난무난한 맛. 외관이 이뻐서 그런가 웨이팅이 긴 곳. 정갈하게 나오며 칼라 ...,NaN,4.0
13,13,⭐⭐⭐☆☆오므라이스 (11.0).학교 뒤 후문으로 나와 걸어가다보면 늘 궁금증을 자...,NaN,43.0
14,14,"스키야키 정식과 돈테키 정식을 먹었다. 스키야키는 끓일 때 작은 양초로 끓이는데, ...",NaN,3.0
15,15,브레이크 타임 직전에 도착해서 오래 기다리지 않고 들어갔어요다 먹고 나올때쯤 줄이 ...,NaN,13.0

In [ ]:
h2['0']

0                                                     굳
1     진짜 너무 맛있어요ㅠㅠ\n서울에 친구 보러갈때마다 거의 사케동 먹는데 적당히 기름지...
2                             분위기좋고 맛있고 직원분들도 친절하고 좋아요!
3                         고즈넉한 한옥에서 정갈하고 맛있는 음식을 먹었어요\n
4                                            히레 꼭 드세요!!
                            ...
95                                           파스타 맛집입니다.
96    깔끔하고 맛은 있는데 양이 적고 가격이 비쌉니다.. 반찬 구성이라도 다양해지면 좋을...
97                                                  맛나요
98                                            음식이 맛있어요~
99                                              좋았어요: )
Name: 0, Length: 100, dtype: object

In [23]:
new_df=pd.concat([h1,h2,h3],ignore_index=True)

In [24]:
new_df

,Unnamed: 0.1,Unnamed: 0,0,1,2,senti
0,0,0,한옥집 마당에 앉아서 기다리다가 자리가 나서 안으로 들어가서 맛있는 식사를 했어요\...,"I was waiting in the yard of the hanok house, ...",11.0,pos
1,1,1,항상 대기가 많아보여서 엄두를 못 냈는데 생각보다 웨이팅도 빨리 빠지고 회전율이 빨...,It always looked like there was a lot of waiti...,11.0,pos
2,2,2,"혜화 주민이라 자주갔는데,혜화에서 약속잡기 좋은 식당이라고 생각합니다. 생각보다 마...",I went there often because I'm a resident of H...,27.0,pos
3,3,3,주중인데도 웨이팅있을만큼 인기있는 곳 매장 직원들이 친절하고 음식 맛도 좋아용!! ...,The store staff is so popular that they can wa...,7.0,pos
4,4,4,혜화에 방문한다면 젤 추천하고 싶은 밥집이에여! 친절하고 예쁘고 오픈시간부터 우르르...,"If you visit Hyehwa, it's a restaurant that I ...",11.0,pos
...,...,...,...,...,...,...
1743,123,18,한옥에서 맛보는 일식^.^ 위장이 큰 사람에겐 조금 아쉬울 수 있어요!원래 찜마니 ...,Japanese food you can taste in Hanok.^ It can ...,32.0,pos
1744,124,19,맛있어요 분위기도 괜찮고 새로만들어서 깔끔합니다. 분위기랑 맛 대비 가성비도 굳.,"It's good. The atmosphere is good, and it's cl...",12.0,pos
1745,125,20,"대학로 소나무길에 새로 생긴 일본 가정식 ""호호식당"". 누가 성균관대 맛집을 물어본...","The new Japanese home-style ""Ho Ho Restaurant""...",44.0,pos
1746,126,21,우선 예쁘니까 반절은 먹고 들어가는 곳사케동이고 뭐고 다 맛 보다 그 분위기에 취해...,"Since it's pretty, I think half of it tastes b...",1.0,pos
1747,127,22,Absolutely love this beautiful restaurant. Set...,Absolutely love this beautiful restaurant. Set...,11.0,pos

In [ ]:
new_df=train

In [13]:
new_df['2']

0      6.0
1      0.0
2      2.0
3     12.0
4      5.0
5      3.0
6      9.0
7      6.0
8      2.0
9     22.0
10    15.0
11    17.0
12     4.0
13    43.0
14     3.0
15    13.0
16     3.0
17    17.0
18    10.0
19    26.0
20     0.0
21     9.0
22    14.0
23    58.0
24    17.0
25    28.0
26    36.0
27    12.0
28    12.0
29     9.0
30    17.0
31    11.0
32    19.0
33    16.0
34    32.0
35    12.0
36    44.0
37     1.0
38    11.0
Name: 2, dtype: float64

In [19]:
senti=[]
for row in new_df['2']:
  if row >0:
    senti.append("pos")
  elif row == 0:
    senti.append("neutral")
  else:
    senti.append("neg")

new_df['senti']=senti

In [20]:
new_df

,Unnamed: 0,0,1,2,senti
0,0,메뉴가 상당히많아요다른 손님은 뭐먹나봤더니 다들 메뉴가 다양했어요저희는 평일 늦은시...,There are a lot of menusI looked at what other...,6.0,pos
1,1,.,.,0.0,neutral
2,2,드디어 호호식당에 입성했네요. 줄이 너무 길어서 그냥 지나쳤었는데..^^ 역시 평일...,"Finally, we're in Ho-Ho restaurant. The line w...",2.0,pos
3,3,혜화에 갈 때마다 웨이팅이 있어 늘 궁금했던 곳이다.하지만 웨이팅을 싫어하기에 쉽게...,"Whenever I went to Hyehwa, there was a waiting...",12.0,pos
4,4,히레카츠랑 사케동을 시켰다. 맛은 평범했고 특유의 가게 인테리어와 디자인은 상당히 ...,I ordered hirekatsu and sake dong. The taste w...,5.0,pos
...,...,...,...,...,...
123,18,한옥에서 맛보는 일식^.^ 위장이 큰 사람에겐 조금 아쉬울 수 있어요!원래 찜마니 ...,Japanese food you can taste in Hanok.^ It can ...,32.0,pos
124,19,맛있어요 분위기도 괜찮고 새로만들어서 깔끔합니다. 분위기랑 맛 대비 가성비도 굳.,"It's good. The atmosphere is good, and it's cl...",12.0,pos
125,20,"대학로 소나무길에 새로 생긴 일본 가정식 ""호호식당"". 누가 성균관대 맛집을 물어본...","The new Japanese home-style ""Ho Ho Restaurant""...",44.0,pos
126,21,우선 예쁘니까 반절은 먹고 들어가는 곳사케동이고 뭐고 다 맛 보다 그 분위기에 취해...,"Since it's pretty, I think half of it tastes b...",1.0,pos
127,22,Absolutely love this beautiful restaurant. Set...,Absolutely love this beautiful restaurant. Set...,11.0,pos

In [ ]:
kor=h1['0']+h2['0']

In [ ]:
type(h1['0'])

pandas.core.series.Series

In [ ]:
train_review =  train["review"]
train_review

0                                                      .
1                                                      .
2                                                      .
3                                      좋아하는곳이지만 점점 짜지는느낌
4      장어덥밥 맛있음 웨이팅하는데 의자에 앉으라고 강요함앉든서있든은 내 자유아님? 서있으...
                             ...
160                         맛있음1시간 반 기다려서 15분만에 먹고나온곳...
161    평일 오후 12시15분즘 가봤는데 30분 대기했어요. 대기하는거 안좋아하는데 유명하...
162                                                    .
163    기다리지 않는다면 별4개한옥에서 일본가정식. 1시간넘게 기다린다면 과감히 딴 곳을 ...
164    대기는 1시간 정도 있었다. 그래도 선주문을 받아 음식은 빨리 나오는 편.새우튀김과...
Name: review, Length: 165, dtype: object

In [ ]:
len(train_review)

165

In [ ]:
train_review_kor=train_review[50:165] # 자기가 분석할 범위입력(100~200이면 100:200)

In [ ]:
len(train_review_kor)

115

In [ ]:
train_review_kor

50     돈테키정식(16 0)이랑 사케동(13.0) 먹었는데돈테키에서 돼지누린내남..사케동도...
51     저번에 너무 맛있어서 다시 갔는데 저녁오픈때 다섯번째팀인가?로 들어갔음에도 불구하고...
52                                                     .
53                        먹을만함 음식 빨리나옴 웨이팅 별로 안긺사람 너무 많음
54                                                     .
                             ...
160                         맛있음1시간 반 기다려서 15분만에 먹고나온곳...
161    평일 오후 12시15분즘 가봤는데 30분 대기했어요. 대기하는거 안좋아하는데 유명하...
162                                                    .
163    기다리지 않는다면 별4개한옥에서 일본가정식. 1시간넘게 기다린다면 과감히 딴 곳을 ...
164    대기는 1시간 정도 있었다. 그래도 선주문을 받아 음식은 빨리 나오는 편.새우튀김과...
Name: review, Length: 115, dtype: object

In [ ]:
len(train_review_kor)

115

In [ ]:
train_review[0]

'.'

In [ ]:
c_result_list = []

In [ ]:
import requests

def get_translate(text):
    client_id = "UI7eTVsGJtT1KN1FndEJ" # <-- client_id 기입
    client_secret = "zCCAFV0P2Q" # <-- client_secret 기입

    data = {'text' : text,
            'source' : 'ko',
            'target': 'en'}

    url = "https://openapi.naver.com/v1/papago/n2mt"

    header = {"X-Naver-Client-Id":client_id,
              "X-Naver-Client-Secret":client_secret}

    response = requests.post(url, headers=header, data=data)
    rescode = response.status_code

    if(rescode==200):
        send_data = response.json()
        trans_data = (send_data['message']['result']['translatedText'])
        return trans_data
    else:
        print("Error Code:" , rescode)

In [ ]:
# for i in range(150,200):
#   result_t=get_translate(train_review[i])
#   c_result_list.append(result_t) #1회차

In [ ]:
for i in range(50,165): #범위 입력(100에서 200이면 100,200으로)
  result_t=get_translate(train_review[i])
  c_result_list.append(result_t)

In [ ]:
len(c_result_list)

115

In [ ]:
c=c_result_list[0:50]

In [ ]:
c

In [ ]:
c_result_list

In [ ]:
a=c_result_list[0:35]

In [ ]:
a

In [ ]:
b=c_result_list

In [ ]:
new=a+b+c

In [ ]:
new

In [ ]:
len(new)

105

In [ ]:
c_result_list

In [ ]:
from afinn import Afinn

review_score=[]
afinn = Afinn()
for i in range(len(c_result_list)):
  review_score.append(afinn.score(c_result_list[i]))

In [ ]:
from afinn import Afinn

review_score=[]
afinn = Afinn()
for i in range(len(c)):
  review_score.append(afinn.score(c[i]))

In [ ]:
review_score

[5.0,
 3.0,
 0.0,
 2.0,
 0.0,
 0.0,
 -2.0,
 1.0,
 6.0,
 5.0,
 0.0,
 9.0,
 0.0,
 3.0,
 -4.0,
 0.0,
 2.0,
 0.0,
 2.0,
 0.0,
 0.0,
 6.0,
 0.0,
 2.0,
 0.0,
 -1.0,
 0.0,
 5.0,
 -2.0,
 2.0,
 0.0,
 3.0,
 -3.0,
 1.0,
 0.0,
 0.0,
 0.0,
 5.0,
 0.0,
 11.0,
 0.0,
 -4.0,
 0.0,
 1.0,
 5.0,
 2.0,
 11.0,
 0.0,
 11.0,
 4.0,
 1.0,
 6.0,
 3.0,
 6.0,
 2.0,
 -3.0,
 -3.0,
 0.0,
 5.0,
 5.0,
 5.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 9.0,
 5.0,
 0.0,
 0.0,
 5.0,
 9.0,
 -3.0,
 -1.0,
 6.0,
 -3.0,
 0.0,
 3.0,
 8.0,
 4.0,
 3.0,
 0.0,
 3.0,
 0.0,
 5.0,
 -4.0,
 0.0,
 0.0,
 0.0,
 -1.0,
 0.0,
 0.0,
 8.0,
 9.0,
 2.0,
 0.0,
 -1.0,
 0.0,
 5.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 4.0,
 0.0,
 0.0,
 0.0,
 3.0,
 13.0,
 0.0,
 2.0,
 7.0]

In [ ]:
trans_pd=pd.DataFrame(zip(train_review_kor,c_result_list, review_score))

In [ ]:
trans_pd

,0,1,2
0,돈테키정식(16 0)이랑 사케동(13.0) 먹었는데돈테키에서 돼지누린내남..사케동도...,"I ate Donteki Meal (160) and Sake Dong (13.0),...",5.0
1,저번에 너무 맛있어서 다시 갔는데 저녁오픈때 다섯번째팀인가?로 들어갔음에도 불구하고...,"Last time, I went again because it was so deli...",3.0
2,.,.,0.0
3,먹을만함 음식 빨리나옴 웨이팅 별로 안긺사람 너무 많음,It's worth eating. Food comes out quickly. Wai...,2.0
4,.,.,0.0
...,...,...,...
110,맛있음1시간 반 기다려서 15분만에 먹고나온곳...,"If it's delicious, I waited for an hour and a ...",3.0
111,평일 오후 12시15분즘 가봤는데 30분 대기했어요. 대기하는거 안좋아하는데 유명하...,"I went there at 12:15 p.m. on weekdays, and I ...",13.0
112,.,.,0.0
113,기다리지 않는다면 별4개한옥에서 일본가정식. 1시간넘게 기다린다면 과감히 딴 곳을 ...,"If you don't wait, eat Japanese home-style foo...",2.0
114,대기는 1시간 정도 있었다. 그래도 선주문을 받아 음식은 빨리 나오는 편.새우튀김과...,The waiting time was about an hour. But I get ...,7.0

In [ ]:
# #from sklearn.preprocessing import MinMaxScaler

# # min-max 정규화 객체 생성
# scaler = MinMaxScaler()

# # min-max 정규화 적용
# scaler.fit(rs_reshaped)
# df_scaled = scaler.transform(rs_reshaped)

# print(df_scaled)

In [ ]:
trans_pd.to_csv('hoho_kakao_50_to_end.csv') 
#csv파일로 생성(자기가 번역한부분으로 이름 바꿔주세요 hoho_100_to_200이렇게) 여기까지!!! 아래껀 누르지말기

In [25]:
new_df.to_csv('hoho_RR_final.csv')

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/mara0407_to_200.csv')

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/mara0408_to_200.csv')

In [ ]:
a=(pd.concat([df1], [df2]))

TypeError: ignored

In [ ]:
pd.concat